.message {
  border: $border-thin;
  max-width: 450px;
  padding: 0 0 $space-sm 0;

  &:not(:last-of-type) {
    margin-bottom: $space-lg;
  }

  & > div:not(:first-child) {
    border-top: $border-thin;
    padding: $space-sm;

    & p:last-of-type {
      padding-left: $space-md;
    }
  }

  &__date-time {
    background-color: $primary;

    p {
      color: $white;
      padding: $space-sm;
    }
  }

  &__title {
    margin-bottom: $space-xs;
  }
}

@media only screen and (min-width: 768px) {
}
