input:focus,
input:active,
button:focus,
button:active {
  outline: 0px !important;
  box-shadow: none !important;
}

.spinner {
  width: 100px;
  height: 100px;
  margin-top: 60px;
  background-color: #006164;
}

.bi-star-fill {
  color: #006164;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

.container-main {
  margin: 0 20px;
}

h1,
h2,
h3,
h4,
p,
span,
label,
a {
  color: #0e0e11;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}
a:hover {
  font-weight: 400;
  color: #ffffff;
}

h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", "Segoe UI", sans-serif;
  font-weight: 400;
}

p,
button,
label {
  font-family: "Lato", "Segoe UI", sans-serif;
}

p,
a,
.btn {
  font-weight: 300;
}

.btn {
  font-weight: 400;
}

p,
.form__input,
.form__label {
  font-size: 1.1rem;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
  margin: 40px 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h2,
h3 {
  margin-bottom: 10px;
}

.semi-bold {
  font-weight: 500;
}

.nav__link {
  font-size: 1.3rem;
  color: #ffffff;
}

.btn {
  min-width: 100px;
  border: 2px solid #006164;
  color: #006164;
  background-color: #ffffff;
  padding: 5px 10px;
  box-shadow: 3px 3px 5px #9f9f9f;
}
.btn:hover {
  color: #ffffff;
  background-color: #006164;
  border: 2px solid #006164;
}

.form {
  max-width: 380px;
  align-items: flex-start;
  gap: 20px;
}
.form__group {
  width: 100%;
}
.form__group--firstName {
  margin-right: 10px;
}
.form__label {
  margin-bottom: 5px;
}
.form__input {
  border: 1px solid #006164;
  border-radius: 3px;
  box-shadow: 3px 3px 5px #9f9f9f;
  padding-left: 5px;
  height: 2.5rem;
}
.form__input:focus {
  border: 2px solid #006164;
}
.form textarea {
  min-height: 80px;
}
.form .input-error {
  margin-top: 5px;
}
.form .btn--submit {
  margin-top: 20px;
}

.form-error {
  border: 2px solid #980505;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
}

.input-error {
  font-size: 0.9rem;
  color: #980505;
  font-weight: 400;
}

.nav {
  background-color: #006164;
  padding: 20px;
  gap: 20px;
}

.navbar-toggler,
.navbar-toggler-icon {
  border: none;
  color: #006164;
}
.navbar-toggler:focus,
.navbar-toggler-icon:focus {
  outline: none;
}

.navbar {
  padding: 0;
}
.navbar__logo {
  height: 40px;
  margin: 5px 10px;
}

.container-nav {
  padding: 0;
}

.nav__link.active {
  font-weight: 600;
}

.footer {
  background-color: #006164;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  place-content: center;
  gap: 20px;
}
.footer__item {
  color: #ffffff;
}

.h1-home {
  margin: 0;
}

.hero {
  background-color: rgb(39, 39, 39);
  height: 250px;
  position: relative;
}
.hero__img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(20%);
}
.hero__text > * {
  position: absolute;
  width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.473);
  border: 2px solid #ffffff;
  padding: 20px;
}

.searchbar {
  width: 220px;
  margin: 40px auto;
}
.searchbar input {
  border: 1px solid #006164;
  border-radius: 3px;
  box-shadow: 3px 3px 5px #9f9f9f;
}
.searchbar input:focus {
  border: 2px solid #006164;
}

.form-control:not(input, textarea) {
  border: none;
}

.home__stay {
  margin: 40px 20px;
}
.home__stay .btn {
  margin-top: 20px;
}
.home__member {
  background-color: #006164;
  padding: 20px;
}
.home__member h3,
.home__member p {
  color: #ffffff;
}

.message:not(:last-child) {
  margin-bottom: 20px;
}
.message__head {
  font-weight: 500;
  background-color: #006164 !important;
  color: #ffffff;
}
.message__head, .message__data {
  min-width: 170px;
  border-left: 1px solid rgb(167, 167, 167);
  border-right: 1px solid rgb(167, 167, 167);
}
.message th:nth-child(6),
.message td:nth-child(6) {
  min-width: 250px;
}
.message th {
  border: 1px solid #006164;
}
.message tbody {
  border-color: #006164;
}

.establishments-container {
  gap: 40px;
}

.establishment {
  width: auto;
  max-width: 400px;
}
.establishment .card {
  box-shadow: 3px 3px 5px #9f9f9f;
  border-radius: 3px;
  border-color: rgb(214, 214, 214);
}
.establishment .card-body {
  padding: 10px;
}
.establishment__img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.establishment__rating {
  gap: 5px;
}
.establishment__price {
  margin-bottom: 10px;
}
.establishment__description {
  width: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.estab {
  max-width: 800px;
}
.estab__img {
  height: 20rem;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.estab__price-rating {
  margin: 10px 0;
}
.estab h2 {
  margin-top: 20px;
}
.estab__type-rooms {
  margin-bottom: 10px;
}
.estab__btn {
  margin-top: 40px;
}/*# sourceMappingURL=styles.css.map */