.btn {
  min-width: 100px;
  border: $border-thick;
  color: $primary;
  background-color: $white;
  padding: $space-xs $space-sm;
  box-shadow: $shadow;

  &:hover {
    color: $white;
    background-color: $primary;
    border: $border-thick;
  }
}
