.form {
  max-width: 380px;
  align-items: flex-start;
  gap: $space-md;

  &__group {
    width: 100%;

    &--firstName {
      margin-right: $space-sm;
    }
  }

  &__label {
    margin-bottom: $space-xs;
  }

  &__input {
    border: $border-thin;
    border-radius: $border-radius;
    box-shadow: $shadow;

    padding-left: 5px;
    height: 2.5rem;

    &:focus {
      border: $border-thick;
    }
  }

  textarea {
    min-height: 80px;
  }

  .input-error {
    margin-top: $space-xs;
  }

  .btn--submit {
    margin-top: $space-md;
  }
}

.form-error {
  border: $border-error;
  border-radius: $border-radius;
  padding: $space-sm;
  margin-bottom: $space-md;
}

.input-error {
  font-size: 0.9rem;
  color: $error-red;
  font-weight: 400;
}
