.table-container {
  &:not(:last-child) {
    margin-bottom: $space-md;
  }

  .table {
    &.table-top {
      margin-bottom: 0;
    }

    &__head {
      font-weight: 500;
      background-color: $primary !important;
      color: $white;
    }

    th {
      border: $border-thin;
    }

    tbody {
      border-color: $primary;
    }

    th,
    td {
      width: 100%;
      white-space: nowrap;
      border-left: 1px solid rgb(167, 167, 167);
      border-right: 1px solid rgb(167, 167, 167);
    }

    &__data--message {
      width: 100%;
      white-space: wrap;
    }
  }
}
