input:focus,
input:active,
button:focus,
button:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  outline: 0px !important;
  box-shadow: none !important;
}

.spinner {
  width: 100px;
  height: 100px;
  margin-top: 60px;
  background-color: $primary;

  &--small {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 $space-sm 0 0;
    animation-duration: 1.1s;
  }
}

.bi-star-fill {
  color: $primary;
}

.response-message {
  border: $border-thick;
  border-radius: $border-radius;
  border-color: $white;
  padding: $space-sm;
  margin: 0 auto $space-md auto;
  font-size: 1.2rem;
  text-align: center;
  max-width: 400px;

  &--informative {
    font-size: 1.3rem;
  }

  &--error {
    border-color: $error-red;
  }

  &--success {
    border-color: $primary;
  }
}

.not-found {
  img {
    max-width: 80%;
    margin-top: $space-lg;
  }
}
