* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

.container-main {
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container-main {
    max-width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .container-main {
    max-width: 1000px;
  }
}
