.nav {
  background-color: $primary;
  padding: 20px;
  gap: 20px;

  &__btn {
    &--logout {
      border: none;
      background: none;
      padding: 0;
    }
  }
}

.navbar-toggler,
.navbar-toggler-icon {
  border: none;
  color: $primary;

  &:focus {
    outline: none;
  }
}

.navbar {
  padding: 0;

  &__logo {
    height: 40px;
    margin: 5px 10px;
  }
}

.container-nav {
  padding: 0;
}

.nav__link.active {
  font-weight: 600;
}
