h1,
h2,
h3,
h4,
p,
span,
label,
a {
  color: $black;
  margin: 0px;
}

a {
  text-decoration: none;
  font-size: 1.3rem;

  &:hover {
    font-weight: 400;
    color: $white;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", "Segoe UI", sans-serif;
  font-weight: 400;
}

p,
button,
label {
  font-family: "Lato", "Segoe UI", sans-serif;
}

p,
a {
  font-weight: 300;
}

p {
  font-size: 1.1rem;
}

label {
  font-size: 1rem;
  //or 1.1rem as p ?
}

.btn {
  font-weight: 400;
  font-size: 1.1rem;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
  margin: 40px 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

/* h4 {
  font-size: 1.5rem;
} */

// Navigation
.nav__link {
  font-size: 1.3rem;
  color: $white;

  &--active {
    font-weight: 600;
  }
}
