h1,
h2,
h3,
h4,
p,
span,
label,
a {
  color: $black;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 1.3rem;

  &:hover {
    font-weight: 400;
    color: $white;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", "Segoe UI", sans-serif;
  font-weight: 400;
}

p,
button,
label {
  font-family: "Lato", "Segoe UI", sans-serif;
}

p,
a,
.btn {
  font-weight: 300;
}

.btn {
  font-weight: 400;
}

p,
.form__input,
.form__label {
  font-size: 1.1rem;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
  margin: $space-lg auto;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h2,
h3 {
  margin-bottom: $space-sm;
}

.semi-bold {
  font-weight: 500;
}

.nav__link {
  font-size: 1.3rem;
  color: $white;
}
