$primary: #006164;
//$secondary: #00C7AD;
$black: #0e0e11;
$white: #ffffff;
$error-red: #980505;
$shadow-color: #9f9f9f;

$border: 2px solid $primary;
$border-radius: 3px;
$border-btn: 3px solid $primary;

$shadow: 3px 3px 5px $shadow-color;
